<ion-header>
  <ion-navbar>
    <ion-title>Mon panier</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="page-cart">
  <ion-list inset>
      <ion-item *ngFor="let item of currentCart">
        <button (click)="goToProduct(product);">
          <img class="item-img" src="../../assets/imgs/boeuf.jpg" width="50" height="50">
          <div style="text-align: left;">
            <h2>{{truncateText(item.name, 20)}}</h2>
            <p>{{truncateText(item.description, 30)}}</p>
            <p>Origine : {{item.origin}}</p>
            <p>Maturation : {{item.maturation}}</p>
            <p>Prix : {{item.price}}€/kg</p>
            <p>Quanité : {{item.qty}}</p>
          </div>
        </button>
      </ion-item>
    </ion-list>
    <div *ngIf="currentCart.length > 0"style="text-align: center; margin-top: 50px;">
      <button class="confirm-order" (click)="presentConfirm();">Valider la commande</button>
    </div>
</ion-content>
