.page-product {
  background-image:radial-gradient(#EC4A31, #B2332A);
}

.data-container {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
}

.input-number-product {
  width: 40px;
  display: inline-block;
  text-align: right;
}

.img-container {
  margin: auto;
  width: 40%;
  padding: 10px;
}

.add-to-cart-button {
  background-color: #fff;
  color: #EC4A31;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border-radius: 45px;
  font-size: 13px;
  font-weight: 500;
  width: 200px;
  height: 55px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease 0s;
}

.p-style {
  font-size: 15px;
}
