<ion-header>
  <ion-navbar>
    <ion-title>Produit</ion-title>
    <ion-buttons end>
      <button class="cart-icon" (click)="openCartPage();">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="page-product">
  <div class="data-container">
    <div class="img-container">
      <img class="img-circle" src="../../assets/imgs/boeuf.jpg" width="100" height="100">
    </div>
    <h2 style="text-align: center;">{{product.name}}</h2>
    <p style="text-align: justify;">{{product.description}}</p>
    <div class="p-style">
      <p>Prix : {{product.price}}€/kg</p>
      <p>Maturation : {{product.maturation}}</p>
      <label>Nombre de personne(s) : </label>
      <ion-input class="input-number-product" type="number" placeholder="Quantité" [(ngModel)]="qty" min="1"></ion-input>
    </div>
  </div>
  <div *ngIf="showAdd" style="text-align: center; margin-top: 50px;">
    <button class="add-to-cart-button" (click)="addToCart();">Ajouter au panier</button>
  </div>
  <div *ngIf="cartUpdate" style="text-align: center; margin-top: 50px;">
    <button class="update-order-button" (click)="updateCart();">Mettre à jour la commande</button>
  </div>
</ion-content>
