.page-products {
  // background-color: #c0392b;
  background-image:radial-gradient(#EC4A31, #B2332A);
}

.item-design {
  margin-bottom: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.item-img {
  float: left;
  margin-right: 15px;
  margin-left: -5px;
}

.item-title {
  text-align: left;
  font-size: 20px;
}

.arrow-icon {
  position: absolute;
  right: 15px;
  top: 30%;
  font-size: 35px;
}

.cart-icon {
  background-color: rgba(117, 190, 218, 0.0);
  font-size: 15px;
  color: #c0392b;
}
