.page-products {
  background-color: #c0392b;
}

.item-img {
  float: left;
}

.item-title {
  text-align: left;
  font-size: 20px;
}

.cart-icon {
  background-color: rgba(117, 190, 218, 0.0);
  font-size: 15px;
  color: #c0392b;
}
