<ion-header>

  <ion-navbar>
    <ion-title>Mes commandes</ion-title>
    <ion-buttons end>
      <button class="cart-icon" (click)="openCartPage();">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="page-orders">
  <ion-list inset>
    <ion-list-header>
      En cours
    </ion-list-header>
    <ion-item *ngFor="let item of onGoingOrders">
      <button (click)="openOrder(item);">
        <h2>Commande n°{{truncateText(item.id, 14)}}</h2>
        <p>Etat : {{truncateText(displayState(item.state), 32)}}</p>
        <p>Prix : {{item.totalPrice}}€</p>
      </button>
    </ion-item>
    <ion-list-header>
      Terminée(s)
    </ion-list-header>
    <ion-item *ngFor="let item of finishedOrders">
      <button (click)="openOrder(item);">
        <h2>Commande n°{{truncateText(item.id, 14)}}</h2>
        <p>Etat : {{truncateText(displayState(item.state), 32)}}</p>
        <p>Prix : {{item.totalPrice}}€</p>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
