<ion-header>
  <ion-navbar>
    <ion-title>Mes commandes</ion-title>
    <ion-buttons end>
      <button class="cart-icon" (click)="openCartPage();">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="page-orders">
  <!-- <ion-refresher class="page-orders" pulling-text="Tirer pour refraichir" (ionRefresh)="doRefresh($event);">
    <ion-refresher-content class="page-orders" pullingTest="Tirer pour rafraichir" refreshingText="Rafraichissement..." refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher> -->
  <ion-list inset>
    <ion-list-header class="item-header">
      En cours
    </ion-list-header>
    <ion-item *ngFor="let item of onGoingOrders" class="item-design">
      <button (click)="openOrder(item);">
        <h2>Commande n°{{truncateText(item.id, 14)}}</h2>
        <p>Etat : {{truncateText(displayState(item.state), 32)}}</p>
        <p>Prix : {{item.totalPrice}}€</p>
      </button>
    </ion-item>
    <ion-list-header class="item-header">
      Terminée(s)
    </ion-list-header>
    <ion-item *ngFor="let item of finishedOrders" class="item-design">
      <button (click)="openOrder(item);">
        <h2>Commande n°{{truncateText(item.id, 14)}}</h2>
        <p>Etat : {{truncateText(displayState(item.state), 32)}}</p>
        <p>Prix : {{item.totalPrice}}€</p>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
