.page-orders {
  background-color: #c0392b;
}

.item-design {
  margin-bottom: 15px;
  margin-top: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.item-header {
  border-radius: 5px;
}
